@model prjMSITUCook.Models.Interface.IRecipeListVM
@using System.Text;
@using prjMSITUCook.Models.VM;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <select name="order" id="order" class="form-control">
            @{
                if (Model.SortMode == "LikeDesc")
                {
                    <option selected value="LikeDesc">按讚數由高至低</option>
                }
                else
                {
                    <option value="LikeDesc">按讚數由高至低</option>
                }
                if (Model.SortMode == "FavoriteDesc")
                {
                    <option selected value="FavoriteDesc">收藏數由高至低</option>
                }
                else
                {
                    <option value="FavoriteDesc">收藏數由高至低</option>
                }
                if (Model.SortMode == "PublishedTimeDesc")
                {
                    <option selected value="PublishedTimeDesc">發布由新至舊</option>
                }
                else
                {
                    <option value="PublishedTimeDesc">發布由新至舊</option>
                }
                if (Model.SortMode == "PublishedTimeAsc")
                {
                    <option selected value="PublishedTimeAsc">發布由舊至新</option>
                }
                else
                {
                    <option value="PublishedTimeAsc">發布由舊至新</option>
                }
            }         
        </select>
    </div>
</div>
<div class="row d-result">
    @{
        if (Model.ItemList.Count <= 0 || Model.ItemList.Count ==null)
        {
            <div style="text-align:center;">
                <img src="~/images/search/searchrecipedefault.png" style="width:400px;" />
            </div>
        }
        else
        {
            if (!String.IsNullOrEmpty((string)ViewData["MyRecipeArticle"]))
            {
                foreach (RecipeListItemVM i in Model.ItemList)
                {
                    int food_count = 1;
                        <div class="item d-flex my-recipe">
                            <input hidden type="text" value="@i.RecipeId"/>
                            <div class="dropdown action">
                                <a class="action-btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Recipe" asp-action="Edit" asp-route-id="@i.RecipeId">修改</a></li>
                                    <li class="article-delete"><a class="dropdown-item">刪除</a></li>
                                </ul>
                            </div>
                        @if (string.IsNullOrEmpty(i.RecipeCover))
                        {
                            <img class="img-recipe" src="~/images/recipe/recipedefault.png" />
                        }
                        else
                        {
                            <img class="img-recipe" src="@i.RecipeCover" alt="食譜圖">

                        }
                        <div class="intro">
                            <a asp-controller="recipe" asp-action="article" asp-route-id="@i.RecipeId">
                                <h3>@i.RecipeName</h3>
                                <img class="img-author" src="@i.ProfilePhoto" alt="作者頭貼">
                                <span class="author">@i.NickName</span>
                                <span>。</span>
                                <span class="time">@i.PublishedTime.ToString("yyyy-MM-dd")</span>
                                <p class="description">@i.ShortDescription</p>
                                <ul class="list-unstyled d-flex justify-content-start food">
                                    @foreach (var f in i.FoodList)
                                    {
                                        if (food_count > 5) { return; }
                                        <li>@f</li>
                                        food_count++;
                                    }
                                </ul>
                                <div class="counts">
                                    <span class="count"><i class="fa-solid fa-heart "></i>   @i.FavoriteNumber</span>
                                    <span class="count"><i class="fa-solid fa-sharp fa-solid fa-thumbs-up"></i>   @i.Likes</span>
                                    <span class="count"><i class="fa-solid fa-eye"></i> @i.Views</span>
                                </div>
                            </a>
                            </div>
                        </div>
                }
            }
            else
            {
                foreach (RecipeListItemVM i in Model.ItemList)
                {
                    int food_count = 1;
                    <a asp-controller="recipe" asp-action="article" asp-route-id="@i.RecipeId">
                        <div class="item d-flex">
                            <img class="img-recipe" src="@i.RecipeCover" alt="食譜圖">
                            <div class="intro">
                                <h3>@i.RecipeName</h3>
                                <img class="img-author" src="@i.ProfilePhoto" alt="作者頭貼 ">
                                <span class="author">@i.NickName</span>
                                <span>。</span>
                                <span class="time">@i.PublishedTime.ToString("yyyy-MM-dd")</span>
                                <p class="description">@i.ShortDescription</p>
                                <ul class="list-unstyled d-flex justify-content-start food">
                                    @foreach (var f in i.FoodList)
                                    {
                                        if (food_count > 5) { return; }
                                        <li>@f</li>
                                        food_count++;
                                    }
                                </ul>
                                <div class="counts">
                                    <span class="count"><i class="fa-solid fa-heart "></i>   @i.FavoriteNumber</span>
                                    <span class="count"><i class="fa-solid fa-sharp fa-solid fa-thumbs-up"></i>   @i.Likes</span>
                                    <span class="count"><i class="fa-solid fa-eye"></i>   @i.Views</span>
                                </div>
                            </div>

                        </div>
                    </a>
                }

            }

        }

    }
</div>
<div class="row">
    <ul class="pagination">
        @{
            string actionName = "";
            if (Model.GetType()==typeof(RecipeSearchResultVM))
            {
                actionName ="SearchResult";
            }
            else
            {

                actionName = "Member";
            }
            if (Model.HasPreviousPage)
            {
                <li class="page-item"><a class="page-link" asp-controller="Recipe" asp-action="@actionName" asp-route-SortMode="@Model.SortMode" asp-route-RecipeName="@Model.RecipeName" asp-route-FoodNames="@Model.FoodNames" asp-route-Amount="@Model.Amount" asp-route-CostTime="@Model.CostTime" asp-route-PageIndex="@(Model.PageIndex-1)" asp-route-AuthorId="@(Model.AuthorId)">上一頁</a></li>
            }
            for (int p = 1; p <= Model.PageCount; p++)
                {
                    if (p == Model.PageIndex)
                    {
                    <li class="page-item active"><a class="page-link" asp-controller="Recipe" asp-action="@actionName" asp-route-SortMode="@Model.SortMode" asp-route-RecipeName="@Model.RecipeName" asp-route-FoodNames="@Model.FoodNames" asp-route-Amount="@Model.Amount" asp-route-CostTime="@Model.CostTime" asp-route-PageIndex="@p" asp-route-AuthorId="@(Model.AuthorId)">@p</a></li>
                    }
                    else
                    {
                    <li class="page-item"><a class="page-link" asp-controller="Recipe" asp-action="@actionName" asp-route-SortMode="@Model.SortMode" asp-route-RecipeName="@Model.RecipeName" asp-route-FoodNames="@Model.FoodNames" asp-route-Amount="@Model.Amount" asp-route-CostTime="@Model.CostTime" asp-route-PageIndex="@p" asp-route-AuthorId="@(Model.AuthorId)">@p</a></li>
                    }
            }
            if (Model.HasNextPage)
            {
                <li class="page-item"><a class="page-link" asp-controller="Recipe" asp-action="@actionName" asp-route-SortMode="@Model.SortMode" asp-route-RecipeName="@Model.RecipeName" asp-route-FoodNames="@Model.FoodNames" asp-route-Amount="@Model.Amount" asp-route-CostTime="@Model.CostTime" asp-route-PageIndex="@(Model.PageIndex+1)" asp-route-AuthorId="@(Model.AuthorId)">下一頁</a></li>
            }

        }
    </ul>
</div>




